### Question 1
Load the energy data from the file `assets/Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](assets/Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **Energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]`

Convert `Energy Supply` to gigajoules (**Note: there are 1,000,000 gigajoules in a petajoule**). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`.  `'Switzerland17'` should be `'Switzerland'`.

Next, load the GDP data from the file `assets/world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `assets/scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank".*

In [101]:
import pandas as pd
import numpy as np

# Filter all warnings. If you would like to see the warnings, please comment the two lines below.
import warnings
warnings.filterwarnings('ignore')

First, let's get the dataframe set up for Energy. This uses a few tips i found on stack overflow and the pandas documentation to clean up the data a bit.

In [102]:
Energy=pd.read_excel('C:/Users/limpertl/Documents/Jupyter Notebooks/DataFrame_Assignment_Week_3/Energy Indicators.xls')
Energy = Energy[17:244]
#Energy.columns
Energy.columns = Energy.columns[:2].tolist() + ['Country','Energy Supply','Energy Supply per Capita','% Renewable']
del Energy['Unnamed: 0']
del Energy['Unnamed: 1']

Now we convert to gigajoules for the energy supply column

In [103]:
Energy['Energy Supply'] = Energy['Energy Supply'].apply(lambda x: x*1000000)

In [104]:
Energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
17,Afghanistan,321000000,10,78.6693
18,Albania,102000000,35,100
19,Algeria,1959000000,51,0.55101
20,American Samoa,.................................................,...,0.641026
21,Andorra,9000000,121,88.6957
...,...,...,...,...
239,Viet Nam,2554000000,28,45.3215
240,Wallis and Futuna Islands,0,26,0
241,Yemen,344000000,13,0
242,Zambia,400000000,26,99.7147
243,Zimbabwe,480000000,32,52.5361

In [105]:
Energy['Energy Supply'] = Energy['Energy Supply'].replace(r'[.]*', np.NaN, regex=True)
Energy['% Renewable'] = Energy['% Renewable'].replace(r'[.]*', np.NaN, regex=True)
Energy['Energy Supply per Capita'] = Energy['Energy Supply per Capita'].replace(r'[.]*', np.NaN, regex=True)

In [106]:
Energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
17,Afghanistan,3.210000e+08,10.0,78.669280
18,Albania,1.020000e+08,35.0,100.000000
19,Algeria,1.959000e+09,51.0,0.551010
20,American Samoa,NaN,NaN,0.641026
21,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
239,Viet Nam,2.554000e+09,28.0,45.321520
240,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
241,Yemen,3.440000e+08,13.0,0.000000
242,Zambia,4.000000e+08,26.0,99.714670
243,Zimbabwe,4.800000e+08,32.0,52.536120

~~"Load the energy data from the file assets/Energy Indicators.xls, which is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013, and should be put into a DataFrame with the variable name of Energy.~~

~~Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:~~

~~['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]~~

~~Convert Energy Supply to gigajoules (Note: there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values."~~

So far the portion of the question above has been completed and all of the items necessary to be delivered have been taken care of. 

Next we need to piece meal through the Country column and rename 

"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"

In [116]:
Energy['Country'] = Energy['Country'].str.replace(r"(?:[a-zA-Z]*)(\s[(].*[)])","")

In [117]:
Energy['Country'] = Energy['Country'].str.replace(r"\d{1,3}","")

In [118]:
Energy[25:45]

,Country,Energy Supply,Energy Supply per Capita,% Renewable
42,"Bonaire, Sint Eustatius and Saba",5.000000e+06,213.0,0.000000
43,Bosnia and Herzegovina,2.660000e+08,70.0,41.464670
44,Botswana,8.600000e+07,39.0,0.131406
45,Brazil,1.214900e+10,59.0,69.648030
46,British Virgin Islands,2.000000e+06,85.0,0.000000
47,Brunei Darussalam,1.270000e+08,310.0,0.045434
48,Bulgaria,7.030000e+08,97.0,17.234610
49,Burkina Faso,1.640000e+08,10.0,14.500680
50,Burundi,5.800000e+07,6.0,86.792450
51,Cabo Verde,7.000000e+06,15.0,21.227620
52,Cambodia,2.500000e+08,17.0,57.311590
53,Cameroon,3.070000e+08,14.0,70.886260
54,Canada,1.043100e+10,296.0,61.945430
55,Cayman Islands,8.000000e+06,131.0,0.000000
56,Central African Republic,2.300000e+07,5.0,85.635360
57,Chad,7.700000e+07,6.0,0.000000
58,Chile,1.613000e+09,92.0,28.006570
59,China,1.271910e+11,93.0,19.754910
60,"China, Hong Kong Special Administrative Region",5.850000e+08,82.0,0.000000
61,"China, Macao Special Administrative Region",4.700000e+07,83.0,0.000000

In [119]:
Energy['Country']=Energy['Country'].replace({"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"})

In [123]:
Energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
17,Afghanistan,3.210000e+08,10.0,78.669280
18,Albania,1.020000e+08,35.0,100.000000
19,Algeria,1.959000e+09,51.0,0.551010
20,American Samoa,NaN,NaN,0.641026
21,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
239,Viet Nam,2.554000e+09,28.0,45.321520
240,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
241,Yemen,3.440000e+08,13.0,0.000000
242,Zambia,4.000000e+08,26.0,99.714670
243,Zimbabwe,4.800000e+08,32.0,52.536120

Went through the data and some of the provided columns included numerics on the end of them wasn't a match to the assignment provided notation. Correct them in the line above and ran it. Everything checked out.

In [130]:
#import
GDP = pd.read_csv('C:/Users/limpertl/Documents/Jupyter Notebooks/DataFrame_Assignment_Week_3/world_bank.csv',
                 header=4)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10